<div class="about-section">
  <h1>Order Ease</h1>
  <p>Many people dream of opening their own restaurant, but they don’t realize the amount of work involved. Restaurant
    owners need to work long hours either performing or overseeing tasks, such as finances, ordering, scheduling
    deliveries, food preparation, and customer service.Restaurants aren't a get-rich-quick opportunity. A successful restaurant requires patience and perseverance. You
    will need stamina and a good support network. </p>
  <p>A new restaurant can fail for many reasons, but much of the time it simply comes back to poor planning in one area
    or another. Here are 10 key things to consider before you open your restaurant.</p>
</div>

<h2 style="text-align:center">Popular Food</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="./../../../assets/images/home.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Snacks</h2>
        <p class="title">Cheese Burger</p>
        <p>The first sandwich to actually be called a "cheeseburger" was at Kaelin's restaurant in Louisville, Kentucky.Traditionally,
           the slice of cheese is placed on top of the meat patty, but the burger can include variations in structure, ingredients and composition. The cheese is usually added to the 
           cooking hamburger patty shortly before serving.</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
    <img src="./../../../assets/images/about.jpg" alt="Water Balls" style="width:100%">
      <div class="container">
        <h2>Food</h2>
        <p class="title">Lunch</p>
        <p>Healthy food contains all the necessary elements for our body like protein, vitamin, fats, and carbohydrates, etc.Healthy food is the requirement of our body.
          It does not let us feel lazy and dull.The kind of food you eat can affect the efficiency of these processes. 
          Body function and the food that sustains it is infinitely complex.</p>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="./../../../assets/images/download2.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Desert</h2>
        <p class="title">Icecream</p>
        <p>A food desert is an area where residents don't have adequate access to affordable, healthy whole foods, such as fresh fruits and vegetables, because there
           are no grocery stores, farmers' markets, or fresh fruit/vegetable stands within reasonable traveling distance.Ice cream is a mixture of milk, cream, sugar,
            and sometimes other ingredients, that has been frozen into a soft, creamy delight using special techniques.</p>
      </div>
    </div>
  </div>
</div>