<div class="mainClass">
  <div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Order Ease</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="searchBox">
        <form class="form-inline my-2 my-lg-0">
          <input [(ngModel)]="searchText"  name ="searchText" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="findfood()">Find Food</button>
        </form>
      </div>
      <div class="linkHome">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/about']">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown active">
            <a *ngIf ="adminData !== null" class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log As {{ adminData }}
            </a>
          </li>
          <li class="nav-item dropdown active">
            <a *ngIf ="custData !== null" class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log As {{ custData }}
            </a>
          </li>
          <li *ngIf = "adminData === null && custData === null" class="nav-item dropdown active">
            <a  class="nav-link dropdown-toggle" [routerLink]="['/']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log As 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/admin-login']">Admin</a>
              <a class="dropdown-item" [routerLink]="['/login']">User</a>
             
            </div>
          </li>
          <li class="nav-item active" *ngIf = "adminData === null && custData === null">
            <a class="nav-link" [routerLink]="['/register']" >Register <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active" *ngIf = "adminData === null">
            <a class="nav-link" [routerLink]="['/feedback']">Feedback <span class="sr-only">(current)</span></a>
          </li>
        
          <li class="nav-item active" *ngIf = "adminData === null">
            <a class="nav-link" [routerLink]="['/checkout']"><i class="fa fa-shopping-cart" style="font-size:36px"></i></a>
          </li>
          <li class="nav-item active" *ngIf = "adminData !== null || custData !== null">
            <a class="nav-link" (click)="logoutAdmin()">Logout</a>
          </li>

           </ul>
      </div>
    </div>
  </nav>
</div>
</div>