<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />

<div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">IceCream</div>

                        <div class="banner-img">
                            <img src="https://img1.jamieoliver.com/jamieoliver/recipe-database/oldImages/xtra_med/1186_1_1436970676.jpg?tr=w-414,"
                            class="mx-auto d-block mb-1 addcartimg" alt="Image 1">
                        </div>

                         <div class="text">
                            <div class="text-area">
                                <strong>Chocolate Ice Cream</strong> 
                                <!-- <span></span> -->
                            </div>
                             <div class="ends">
                                <strong>Rs.120</strong> 
                            </div>
                        </div>

                        <!-- <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div> -->

                        <!-- </div>  -->

                        <div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">ADD</a>
                            <!-- <a href="#" class="Cbtn Cbtn-danger">Delete</a> -->
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">Fruit Custurd</div>

                        <div class="banner-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS77k3MoFjUSAmKMwXVgsyahTEPcR1fihGccbaCGxe7WrnJuniK&usqp=CAU"
                            class="mx-auto d-block mb-1 addcartimg" alt="Image 1">
                        </div>

                         <div class="text">
                            <div class="text-area">
                                <strong>Vanila Custard</strong> 
                                <!-- <span></span> -->
                            </div>
                            <div class="ends">
                                <strong>Rs 160</strong> 
                            </div>
                        </div>

                        <!-- <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div> -->

                        <div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">ADD</a>
                            <!-- <a href="#" class="Cbtn Cbtn-danger">Delete</a> -->
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">Tree Leche Cake</div>

                        <div class="banner-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcuQLySAj8qkkVs56kV8gZHnc61ltybmPhdWB4bPJyz6fK0K-B&usqp=CAU"
                            class="mx-auto d-block mb-1 addcartimg" alt="Image 1">
                        </div>

                        <div class="text">
                            <div class="text-area">
                                <strong>Fruity tutty</strong> 
                                <!-- <span></span> -->
                            </div>
                            <div class="ends">
                                <strong>Rs 220</strong> 
                            </div>
                        </div>

                        <!-- <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div> -->

                        <div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">ADD</a>
                            <!-- <a href="#" class="Cbtn Cbtn-danger">Delete</a> -->
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">Red Velvet</div>

                        <div class="banner-img">
                            <img src="https://yummiestfood.com/wp-content/uploads/2018/10/Red-Velvet-Cake-Recipe-001.jpg" 
                            class="mx-auto d-block mb-1 addcartimg" alt="Image 1">
                        </div>

                        <div class="text">
                            <div class="text area">
                                <strong>Eggless Cake</strong> 
                                <span></span>
                            </div>
                            <div class="price">
                                <strong>Rs 450</strong> 
                            </div>
                        </div>

                        <!-- <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div> -->

                        <div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">ADD</a>
                            <!-- <a href="#" class="Cbtn Cbtn-danger">Delete</a> -->
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>