<div class="container">
  <div class="card card-container">
   
    <img id="profile-img" class="profile-img-card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtGxlfuj_h2auSLWX_19rNBVDly6QNz6-MGEiMF6osBtq6or9a&usqp=CAU" />
    <p id="profile-name" class="profile-name-card"></p>

      <form name="form-signin" (ngSubmit)="login()">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
      <span id="reauth-email" class="reauth-email"></span>
      <div class="form-group">
        <label for="username">Username</label>
         <input type="text" class="form-control" id="username" [(ngModel)]="customerLogin.custmail" [formControl]="custmail" name="username"  required />
        <!-- <div  class="help-block">an valid email is required</div>  -->
        
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="customerLogin.custpass" [formControl]="custpass" name="password"  required />
        <!-- <div  class="help-block">Password is required</div> -->
      </div>
      <div id="remember" class="checkbox">

      </div>
      <a [routerLink]="['/menu']"> <button class="btn btn-success btn-block" type="submit" (click)="login()">Sign in</button></a>
    </form> 

    
      <a [routerLink]="['/register']" class="btn btn-link">Create new Account!</a>
  </div>
</div>
